@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

html {
    font-family: "Lato", sans-serif;     
}

.container {
    height: 300px;
    width: 300px;
    border: 1px solid rgb(19, 19, 61);
    border-radius: 5px;
    margin: 10rem auto;
    text-align: center;
    background: linear-gradient(rgba(43, 43, 77, 0.527), rgba(70, 49, 49, 0.521)),
    url('../images/1.jpg');
    background-size: cover;
    background-position: center;
}

.container > input, .container button {
    display: block;
    margin: 1rem auto;
}

.container button {
    width: 5rem;
    padding: 0,3rem;
    color: aliceblue;
    background-color: rgba(22, 22, 54, 0.582);
}

.container h3 {
    margin: 2rem;
    color: rgb(233, 236, 238);
    text-transform: capitalize;
}

.container p {
    color: rgb(231, 235, 238);
    font-size: 1.5rem;
}

  